@import "../../../../scss/variables.scss";

@media screen and (max-width: $ipadS) {
  .large-projects-container {
    flex-wrap: wrap;
    > li {
      margin: 1rem auto;
      width: 100%;
    }
  }
}
