@import "../../../scss/variables.scss";

.updated-navigation-container {
  position: fixed;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 100;
}

.updated-navigation-icon-list {
  display: flex;
  background-color: $transparent-white-bg;
  gap: 1rem;
  padding: 1rem;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 20px 0 0 20px;
  > svg {
    width: 20px;
    height: 20px;
    padding: 10px;
    border-radius: 100%;
    background-color: $main-yellow-inactive;
  }
  > .current-section {
    background-color: $main-yellow;
  }
}
