@import "../../../scss/variables.scss";

.hero {
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  .hero-img {
    max-width: 80%;
  }
}

.social-wrapper {
  position: absolute;
  bottom: 1rem;
  right: 1%;
  width: 40%;
  height: 10%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.bio-wrapper {
  position: absolute;
  bottom: 20%;
  width: 60%;
  font-size: 1.5rem;
}

.bio-important-info {
  padding-top: 3rem;
}

.get-resume-btn {
  height: 50px;
  width: 250px;
  font-size: 30px;
  background-color: $main-yellow;
  border-radius: $border-radius;
  border: none;
  z-index: 1;
  transition: 0.5s;
  font-family: "Roboto", sans-serif;
}
.get-resume-btn:hover {
  background-color: $main-yellow-hover;
  font-size: 34px;
}

.hero-image-animation {
  transition: 1s;
  animation: floating 2s alternate infinite;
}

.hero-image-animation:hover {
  max-width: 85%;
}

@keyframes floating {
  0% {
    transform: translateY(4%);
  }

  100% {
    transform: translateY(-4%);
  }
}
