$main-white: #f2f2f2;
$main-yellow: #f8ba22;
$main-theme: black;

$border-radius: 10px;
$border: 5px solid $main-yellow;

$facebook: #109cf7;
$instagram: #de2c76;
$github: white;
$linkedin: #0966c2;

$pc: 1200px;
$ipadL: 1024px;
$ipadS: 768px;
$tablet: 480px;
